@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);

.editorContainer {
  position: relative;
  padding: 24px;
  height: 80vh;
  width: 80%;
  margin: auto;
  background-color: #fff;
}

.contentEditable-wrapper {
  position: relative;
}

.contentEditable {
  outline: none;
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
  font-size: 12px;
}

.placeholder {
  position: absolute;
  color: #888888;
  top: 24px;
  left: 24px;
  pointer-events: none;
  user-select: none;
}
